body {
  background-color: #000 !important;
  font-family: "Spartan";
  color: white;
}

a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom:5px;
}

h2

.main-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}


.main-content {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 50px;
  height: 100vh;
}

.content {
  width: 70vw;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: white;
}


.title-left {
  align-self: flex-start;
  margin-right: -150px;
  z-index:1;
}

.title-right {
  align-self: flex-end;
  margin-left: -150px;
  z-index:1;
}

.menu-top-right h1{
 align-self: flex-start;
 padding-top: 100px;
 text-align: center;
}

#menu-right {
  width: 10vw;
  height: 100vh;
}

#menu-right h2 {
  transform: rotate(-90deg);
  height: 100vh;
  line-height: 100vh;
  white-space: nowrap;
  text-align:center;
}

#menu-right h2 > .active {
      transform: rotate(-90deg);
      height: 100vh;
      line-height: 100vh;
      white-space: nowrap;
      text-align:center;
      border-bottom: 1px solid white;
      padding-bottom:5px;
    }

#menu-top {
  width: 10vw;
  height: 100vh;
  text-align:right;
  padding-top: 25px;
}


#menu-top h2 > .active {
  border-bottom: 1px solid white;
  padding-bottom:5px;
}

#menu-bottom {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 50px;
}

#menu-bottom ul li {
  display: inline;
  list-style: none;
  padding: 10px;
  color: white;
}

#menu-bottom li:last-child {
  margin-left:80px;
  border: 1px solid #fff;
}


/* About page */

.content-about {
  width: 50vw;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: white;
}

/* Horizontal Scrolling Images */

.content-work {
  display: flex;
  overflow-x: auto;
}

.content-work img {
  max-width: 360px;
  margin-right: 20px;
}

.content-work::-webkit-scrollbar {
  display: none;
}


