

body {
  background-color: #000 !important;
  font-family: "Sen";
  color: white;
}

a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  border-bottom: 5px;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}


.main-content {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.content {
  width: 700px;
  height: 500px;
  background-color: white;
}

#menu-right {
  width: 10vw;
  height: 100vh;
}

#menu-right h1 {
  transform: rotate(-90deg);
  height: 100vh;
  line-height: 100vh;
  white-space: nowrap;
  text-align:center;
}


#menu-top {
  width: 10vw;
  height: 100vh;
}

#menu-bottom {
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 50px;
}

#menu-bottom ul li {
  display: inline;
  list-style: none;
  padding: 10px;
  color: white;
}
