body {
  background-color: #000 !important;
  font-family: "Spartan";
  color: white;
}

a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom:5px;
}

.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.main-container {
  display: flex;
  height:90vh;
  justify-content: space-between;
}


/* MENUS */

#menu-right, #menu-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px;
}

#menu-left {
  margin: 50px 0 50px 50px;
  width: 20%;
}

#menu-right {
  text-align:right;
  margin: 50px 50px 50px 0;
  width: 20%;
}

#menu-right ul li {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0 0 30px 0;
}


#menu-left-middle {
  transform: rotate(-90deg);
  white-space: nowrap;
  text-align:center;
}

#menu-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 50px 50px;
}

#menu-bottom-left ul {
  margin: 0;
  padding: 0;
}

#menu-bottom-left ul li {
  display: inline;
  list-style: none;
  padding-right: 15px;
  color: white;
}

/* Title */

.current {
  padding-bottom: 10px;
  border-bottom: 4px solid white;}

/* Content */

.main-content {
  display: flex;
  align-items:center;
  width: 70vw;
  height: 100vh;
}

.content {
  width: 70vw;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: white;
}


/* Home page */

.context-text h2{
  font-size: 3rem;
  text-align: left;
}

.context-text a {
  font-family: Playfair Display;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
}


/* About page */

.content-about {
  display:flex;
  padding: 10%;
}

.content-about a{
  font-size: 20px;
}

.content-about-text {
  margin: 0 auto;
  align-items: bottom;
}

.content-about-text-top {
  margin: 0 auto;
  align-items: top;
}


.content-about-text h2 {
  font-size: 1.4rem;
}

.content-about-text-top span {
  font-size: 1.4rem;
  font-family: "Playfair Display";
  font-style: italic;
  color: red;
}


@keyframes moveUp{
  from {
    transform: translateY(2vw);
  }
  to {
    transform: translateY(-0.5vw);
  }
}


.line span {
  animation-name: moveUp ;
  animation-duration: 0.5s;
  transition-timing-function: infinite;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity:1;
  }
}

.line {
  animation-name: fadeIn;
  animation-duration: 6s;
  transition-timing-function: linear;
}

.line:nth-child(1) { animation-delay: -0.8s; }
.line:nth-child(2) { animation-delay: -0.4s; }
.line:nth-child(3) { animation-delay: -0.2s; }


.content-about-first i{
  font-size: 8px;
  padding-right: 6px;
}

.content-about::-webkit-scrollbar {
    display: none;
}

/* Horizontal Scrolling Images */

.content-work {
  display: flex;
  overflow-x: auto;
}

.content-work img {
  max-height: 70vh;
  margin-right: 20px;
}

.content-work::-webkit-scrollbar {
  display: none;
}

/* Vertical Scrolling Images */


.content-surface-design {
  max-width: 85%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.content-img {
  display: block;
  overflow-y: auto;
  width: 40%;
  text-align: right;
}

.content-img::-webkit-scrollbar {
  display: none;
}

.content-img img {
  max-width: 100%;
  margin-bottom: 25px;
}

.content-text {
  width: 60%;
  display: block;
  align-self:center;
  padding-right:35px;
}






